<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body>
    <main>
      <%= partial "includes/cms/event/slp-benefits", locals: { heading: event.tracks_heading, body: event.tracks_body, tracks: event.tracks } %>
      <% if event.cta %>
        <%= partial "includes/cms/event/slp-cta" %>
      <% end %>
      <% if event.cta_3up %>
        <%= partial "includes/cms/event/slp-cta-3up" %>
      <% end %>
    </main>
  </body>
</html>
